---
http_interactions:
- request:
    method: get
    uri: https://rickandmortyapi.com/api/character/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a9f-I68Cx5oSPFclkl+Wy2Fr9jNsFS8"
      X-Nf-Request-Id:
      - 01GQ27JVPGBWDFAEHMKC9AFWQ9
    body:
      encoding: ASCII-8BIT
      string: '{"id":1,"name":"Rick Sanchez","status":"Alive","species":"Human","type":"","gender":"Male","origin":{"name":"Earth
        (C-137)","url":"https://rickandmortyapi.com/api/location/1"},"location":{"name":"Citadel
        of Ricks","url":"https://rickandmortyapi.com/api/location/3"},"image":"https://rickandmortyapi.com/api/character/avatar/1.jpeg","episode":["https://rickandmortyapi.com/api/episode/1","https://rickandmortyapi.com/api/episode/2","https://rickandmortyapi.com/api/episode/3","https://rickandmortyapi.com/api/episode/4","https://rickandmortyapi.com/api/episode/5","https://rickandmortyapi.com/api/episode/6","https://rickandmortyapi.com/api/episode/7","https://rickandmortyapi.com/api/episode/8","https://rickandmortyapi.com/api/episode/9","https://rickandmortyapi.com/api/episode/10","https://rickandmortyapi.com/api/episode/11","https://rick[...]
